<h1>Data Science Tools and Ecosystem</h1>

<h2>Author</h2>
 Gilang Banyu Biru Erassunu

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list popular languages for data science
- list commonly used libraries for data science
- perform arithmetic in Python
- how to create a notebook
- how to use github

Some of the popular languages that Data Scientists use are:
- Python
- R
- Julia

Some of the commonly used libraries used by Data Scientists include:
- tidyverse
- pandas
- numpy

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <th>Tableau</th>
  </tr>
  <tr>
    <th>Hadoop</th>
  </tr>
    <tr>
    <th>Apache Spark</th>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335